# Server Configuration
PORT=
NODE_ENV=development


# Database Configuration
DATABASE_URL=

# Authentication
# GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_SECRET=
SESSION_SECRET=hello there
JWT_SECRET=hello there 
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Optional configurations
CORS_ORIGIN=http:
FRONTEND_URL= 

#cloundary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=7
CLOUDINARY_API_SECRET=